USE [DB_IM_SENSE]
GO
/****** Object:  Table [dbo].[M_ITEM]    Script Date: 01/09/2011 13:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_ITEM](
	[ITEM_ID] [nvarchar](50) NOT NULL,
	[ITEM_CAT_ID] [nvarchar](50) NULL,
	[BRAND_ID] [nvarchar](50) NULL,
	[ITEM_NAME] [nvarchar](50) NOT NULL,
	[ITEM_STATUS] [nvarchar](50) NULL,
	[ITEM_PHOTO] [image] NULL,
	[ITEM_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_M_ITEM] PRIMARY KEY CLUSTERED 
(
	[ITEM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_M_ITEM_M_BRAND] FOREIGN KEY([BRAND_ID])
REFERENCES [dbo].[M_BRAND] ([BRAND_ID])
GO
ALTER TABLE [dbo].[M_ITEM] CHECK CONSTRAINT [FK_M_ITEM_M_BRAND]
GO
ALTER TABLE [dbo].[M_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_M_ITEM_M_ITEM_CAT] FOREIGN KEY([ITEM_CAT_ID])
REFERENCES [dbo].[M_ITEM_CAT] ([ITEM_CAT_ID])
GO
ALTER TABLE [dbo].[M_ITEM] CHECK CONSTRAINT [FK_M_ITEM_M_ITEM_CAT]
GO
