USE [DB_IM_SENSE]
GO
/****** Object:  Table [dbo].[T_RESERVATION_DETAIL]    Script Date: 10/19/2013 02:43:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_RESERVATION_DETAIL](
	[RESERVATION_DETAIL_ID] [nvarchar](50) NOT NULL,
	[RESERVATION_ID] [nvarchar](50) NULL,
	[RESERVATION_DETAIL_NAME] [nvarchar](50) NULL,
	[PACKET_ID] [nvarchar](50) NULL,
	[EMPLOYEE_ID] [nvarchar](50) NULL,
	[RESERVATION_DETAIL_STATUS] [nvarchar](50) NULL,
	[RESERVATION_DETAIL_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_T_RESERVATION_DETAIL] PRIMARY KEY CLUSTERED 
(
	[RESERVATION_DETAIL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_RESERVATION_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_T_RESERVATION_DETAIL_M_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[T_RESERVATION_DETAIL] CHECK CONSTRAINT [FK_T_RESERVATION_DETAIL_M_EMPLOYEE]
GO
ALTER TABLE [dbo].[T_RESERVATION_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_T_RESERVATION_DETAIL_M_PACKET] FOREIGN KEY([PACKET_ID])
REFERENCES [dbo].[M_PACKET] ([PACKET_ID])
GO
ALTER TABLE [dbo].[T_RESERVATION_DETAIL] CHECK CONSTRAINT [FK_T_RESERVATION_DETAIL_M_PACKET]
GO
ALTER TABLE [dbo].[T_RESERVATION_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_T_RESERVATION_DETAIL_T_RESERVATION] FOREIGN KEY([RESERVATION_ID])
REFERENCES [dbo].[T_RESERVATION] ([RESERVATION_ID])
GO
ALTER TABLE [dbo].[T_RESERVATION_DETAIL] CHECK CONSTRAINT [FK_T_RESERVATION_DETAIL_T_RESERVATION]
GO
