USE [DB_IM_SENSE]
GO
/****** Object:  Table [dbo].[T_CONFIG]    Script Date: 10/19/2013 02:43:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CONFIG](
	[CONFIG_ID] [nvarchar](50) NOT NULL,
	[CONFIG_VALUE] [nvarchar](200) NULL,
	[CONFIG_STATUS] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_CONFIG] PRIMARY KEY CLUSTERED 
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
